$color: #111;
$color-2: red;

.form {
  width: 100%;
  margin: auto;
  box-shadow: 2px 1px 14px rgba(0, 0, 0, 0.5), -4px -6px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem;
  margin-top: 4rem;

  @media (min-width: 411px) {
    padding: 1rem 2.5rem;
  }

  @media (min-width: 621px) {
    width: 500px;
  }

  h1 {
    text-align: center;
    margin: 1rem 0 1rem;
    color: $color-2;
  }

  form {
    display: grid;
    grid-row-gap: 1rem;

    .form-control {
      label {
        display: block;
        margin-bottom: 0.3rem;
      }

      .input-control,
      textarea {
        width: 100%;
        resize: none;
        outline: none;
        border: solid 1px $color;
        padding: 0.7rem 1rem;
        border-radius: 5px;
      }

      [type="file"] {
        outline: none;
        border: none;
      }
    } //.form-control

    button {
      background-color: $color;
      color: #fff;
      padding: 1rem 0;
      font-weight: 800;
      cursor: pointer;
      outline: none;
      border: none;
      transition: background-color 0.4s ease-in-out;
      border-radius: 5px;
      text-transform: uppercase;

      &:hover {
        background-color: $color-2;
        color: #fff;
      }
    }
  } //form
} //.form
