<%- include('../layouts/header.ejs') %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include('../layouts/nav.ejs') %>
            <main>

                <div class="form">
                    <h1>Sign Up</h1>
                    <form action="/user/signup" method="post">
                        <div class="form-control">
                            <label for="firstname">First Name</label>
                            <input type="text" required value="" class="input-control" name="firstname" id="firstname">
                        </div>

                        <div class="form-control">
                            <label for="lastname">Last Name</label>
                            <input type="text" required value="" class="input-control" name="lastname" id="lastname">
                        </div>

                        <div class="form-control">
                            <label for="email">Email</label>
                            <input type="email" required value="" class="input-control" name="email" id="email">
                        </div>


                        <div class="form-control">
                            <label for="password">Password</label>
                            <input type="password" required value="" class="input-control" name="password"
                                id="password">
                        </div>

                        <div class="form-control">
                            <label for="confirmPassword">confirm Password</label>
                            <input type="password" required value="" class="input-control" name="confirmPassword"
                                id="confirmPassword">
                        </div>

                        <button type="submit"> Sign Up</button>
                    </form>
                </div>
            </main>

            <%- include('../layouts/footer.ejs') %>